repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Note: The repo URL moved from charliermarsh to astral-sh
    rev: v0.2.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      # We only list check-yaml ONCE, with the arguments enabled
      - id: check-yaml
        args: [--allow-multiple-documents]
